// --------- FORMATEO ---------
*
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style: none

a:link, a:visited, a:active
    text-decoration: none
// --------- FORMATEO ---------

// --------- FUENTES ---------
@font-face
    font-family: "Harry P"
    src: url('../fonts/Harry.TTF') format("truetype")
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'Benne'
    src: url('../fonts/Benne.ttf') format("truetype")
    font-weight: normal
    font-style: normal
// --------- FUENTES ---------

// --------- HEADER FOOTER ---------
.logo
    width: 85px
header
    height: 140px
    padding: 45px
    display: flex
    align-items: center
    justify-content: space-between
    background-image: url("../img/fondo_head.png")
.nav_header
    width: 60%

.apartados_head
    font-family: "Harry P"
    color: #FFBF00
    font-size: 45px
    display: flex
    justify-content: space-between

// --------- HEADER FOOTER ---------